@keyframes mi-fondo {
    0%{background-position: 0% 50%;}
    25%{background-position: 50% 25%;}
    50%{background-position: 100% 50%;}
    75%{background-position: 50% 25%;}
    100%{background-position: 0% 50%;}
}

@keyframes circulos {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    50%{
        transform: translateY(-500px) rotate(360deg);
        opacity: 0.5;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}